/* TIPOGRAFÃAS IMPORTADAS */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&family=Work+Sans:wght@600;700&display=swap');

/* ------- NAVBAR CONTACTO ------ */

* {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	box-sizing: border-box;
	--primario: #3100cd;
	--fondo1: rgba(238, 204, 228, 0.541);
	--fondo2: rgba(193, 207, 254, 0.4);
	--secundario: #ffcef0;
	--fondo3: #fad7f0;
}

p{
	font-family: 'Jost', sans-serif;
}

body {
	min-width: 375px;
	height: 100vh;
}

.contact-navbar {
	background-color: #fad7f0;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
}

/* ------ HERO CONTACTO ------ */

/* HERO */

.contact-hero {
	height: clamp(170px, 40vw, 279px);
	margin: 56px 0 0 0;
	background-image: url('./media/img/contact-background.jpg');
	background-size: cover;
}

.contact-hero__title {
	font-weight: bold;
	color: #fad7f0;
	font-size: clamp(24px, 7vw, 66px);
	margin-top: 30px;
	margin-left: 90px;
}

/* ------ FORMULARIO DE CONTACTO ------ */
/* 
.form-container {
	border: 5px dotted blue;
} */

.contact-form {
	margin: 0;
	padding: 0;
	width: clamp(360px, 40vw, 600px);
}

.three-kafes {
	margin: 0;
	padding: 0;
	width: clamp(360px, 40vw, 600px);
	height: 800px;

	background-image: url('./media/img/CAFE\ SALPICANDO\ 1.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.contact-form label {
	font-size: 22px;
}

.contact-form input {
	font-family: 'Jost', sans-serif;
	font-size: 16px;

	border: none;
	border-bottom: 1.53px solid;
}

.contact-form input::placeholder {
	color: #fad7f0;
}

.contact-form input:focus {
	box-shadow: none;
	outline: none;
}

.contact-form textarea {
	font-family: 'Jost', sans-serif;
	height: 225px;
	font-size: 16px;
}

.contact-form textarea::placeholder {
	color: #fad7f0;
}

.form-check .form-check-input {
	border: 2px solid;
}

.contact-btn .btn-primary {
	font-size: 21px;
	background-color: #3100cd;
}

/* ------ SUCURSALES ------ */

.contact-geodata__subtitle {
	font-family: 'Jost', sans-serif;
}

.contact-geodata__map {
	width: 100%;
	height: 198px;
	margin-top: 10px;
}

/* ------ FOOTER ------ */

footer {
	background-color: var(--fondo3);
	color: var(--primario);
	padding: 30px 16px 30px 16px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

footer i {
	font-size: 24px;
}

.contenedorFooter1 {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contenedorFooter1 img {
	width: calc(100% / 3);
	max-width: 150px;
}

.contenedorRedes {
	display: flex;
	gap: 30px;
}

.contenedorRedes a {
	text-decoration: none;
	color: var(--primario);
}

.contenedorFooter2 .contenedorFooter3 {
	font-weight: 500;
}

.contenedorFooter2 .row {
	max-width: 400px;
}

.contenedorFooter2 .col {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.contenedorFooter2 > p {
	font-weight: 700;
	font-size: 20px;
}

@media screen and (max-width: 760px) {
	.three-kafes {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	footer {
		padding-left: 40px;
		padding-right: 40px;
	}

	footer {
		flex-direction: row;
		justify-content: space-between;
	}

	.contenedorFooter1 {
		order: 2;
		align-items: center;
	}

	.contenedorFooter1 img {
		min-width: 150px;
	}

	.contenedorFooter2 {
		order: 1;
	}

	.contenedorFooter3 {
		order: 3;
	}

	.contenedorFooter3 p {
		text-align: right;
	}
}

@media screen and (min-width: 1440px) {
	footer {
		padding-left: 100px;
		padding-right: 100px;
	}
}
